body {
    margin: 0;
    padding: 0;
    height: 100%;
    
}
.bg-image{
    background-image: url("../Pictures/orchid.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.bg-image-2{
    background-image: url("../Pictures/orchid.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
}

#carouselProduct {
    width: 35%;
    margin: 0 auto;
    
}

.carousel-item img {
    width: 100%;
    height: auto;
} 
